body {
  margin: 0;
  padding: 0;
  background-image: url('http://tomobilat.fikralabs.com/images/body-bg.png');
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noUi-target {
  width: 70% !important;
  margin: 0 auto;
}

.noUi-connect {
 background-color: #3f51b5 !important; 
}

.noUi-horizontal .noUi-handle {
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    
    border-radius: 50% !important;
    border: none !important;
    background: #ff4081 !important;
    box-shadow: none !important;
}



.noUi-handle:after, .noUi-handle::before {
  display: none !important;
}
/* noUi-handle-lower */
/*  col */

.input-field {
  border: 1ps solid lightgray !important;
  border-bottom: none !important;
}
